@{
    ViewBag.Title = "All Persons";
}

<div class="row">
    <div class="col-md-12">
        <h2>All Persons
            <a href="/persons/create" class="btn btn-outline-info">Add New Person</a>
        </h2>
        
        <table class="table table-bordered table-striped mt-2">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Date Of Birth</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>John</td>
                <td>Doe</td>
                <td>social</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>